
@{
    ViewBag.Title = "LoiCapQuyen";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Truy cập của bạn bị giới hạn tại mục này. Xin vui lòng về lại trang trủ !</h2>
<h4>@Html.ActionLink("Quany về trang trủ","Index","Home")</h4>

