@using BanhangMVC.Models
@model IEnumerable<BanhangMVC.Models.DonDatHang>


@{
    ViewBag.Title = "ChuaGiao";
    Layout = "~/Views/Layout/AdminLayout.cshtml";

    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h2>Kiểm Tra Đơn Hàng</h2>
<style>
    #nav_donhang a {
        background: #1c445f;
    }
    #nav_donhang{
        margin-top:20px;
    }
    .imgs {
        width: 200px;
        height: 200px;
        padding: 5px;
    }

    .gridTable {
        border: 2px solid #1c445f;
    }

    .gridHead th {
        padding: 5px;
        text-align: center;
        background: #eaff00;
        border: 2px solid #1c445f;
    }

    .gridTable tr td {
        padding: 5px;
        text-align: center;
        border: 2px solid #1c445f;
    }
     #data{
        margin-top:60px;
    }
</style>
<ul class="nav navbar-nav" id="nav_donhang">
    <li>@Ajax.ActionLink("Chưa thanh toán", "ChuaThanhToan", "QuanLyDonDatHang", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "data" })</li>
    <li>@Ajax.ActionLink("Chưa giao", "ChuaGiao", "QuanLyDonDatHang", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "data" })</li>
    <li class="active">@Ajax.ActionLink("Đã giao và thanh toán", "DaGiaoThanhToan", "QuanLyDonDatHang", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "data" })</li>
    <li><a href="#">Đã hủy</a></li>
</ul>

<div id="data">
    @grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "grilRow",
    columns: grid.Columns(
        grid.Column("MaDDH", "Mã đơn hàng"),
        grid.Column("MaKH", "Tên khách hàng"),
        grid.Column("NgayDat", "Ngày đặt"),
        grid.Column("TinhTrang", "Tình trạng"),
        grid.Column("NgayGiao", "Ngày giao"),
        grid.Column("UuDai", "Ưu đãi"),
        grid.Column("DaThanhToan", "Đã thanh toán"),
        grid.Column("DaHuy", "Đã hủy"),
        grid.Column(format: x => Html.ActionLink("Duyệt đơn hàng", "DuyetDonHang", new { @id = x.MaDDH }, new { @target = "_blank" }))
        )
    )
</div>
