@using BanhangMVC.Models
@model IEnumerable<BanhangMVC.Models.ThanhVien>


@{
    ViewBag.Title = "DanhSachThanhVien";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source:Model, rowsPerPage: 10);
}

<style>
    .gridTable {
        border: 2px solid #1c445f;
    }

    .gridHead th {
        padding: 5px;
        text-align: center;
        background: #eaff00;
        border: 2px solid #1c445f;
    }

    .gridTable tr td {
        padding: 5px;
        text-align: center;
        border: 2px solid #1c445f;
    }
     #data{
        margin-top:60px;
    }
</style>
<h2>Danh Sach Thanh Vien</h2>
<div id="data">
    @grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "grilRow",
    columns: grid.Columns(
        grid.Column("HoTen", "Họ và tên"),
        grid.Column("TaiKhoan", "Tài khoản"),
        grid.Column("TenLoai","Tên loại"),
        grid.Column(format: x => Html.ActionLink("Cập nhật loại thành viên","PhanQuyen", "CapNhatLoaiThanhVien", new { @id = x.MaThanhVien }, new { @target = "_blank" })),
        grid.Column(format: x => Html.ActionLink("Cập nhật phân quyền", "PhanQuyen", "CapNhatLoaiThanhVien", new { @id = x.MaThanhVien }, new { @target = "_blank" }))
        )
    )
</div>
