@using BanhangMVC.Models
@model IEnumerable<SanPham>


@{
    ViewBag.Title = "HetHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}
}

<h2>Danh Sách Sản Phẩm Hết Hàng</h2>
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "grilRow",
    columns: grid.Columns(
        grid.Column("MaSP", "MSP"),
        grid.Column("TenSP", "Tên sản phẩm"),
        grid.Column("CauHinh", "Cấu Hình"),
        //grid.Column("MoTa", "Mô Tả",format:p => @Html.Raw(p.MoTa)),
        grid.Column("HinhAnh", "Hình ảnh sản phẩm", format: p => @Html.Raw("<img class=\"imgs\"  src=\"../Content/HinhanhSP/" + p.HinhAnh + "\">")),
        grid.Column(format: x => @Html.ActionLink("Nhập Hàng", "NhapHangDon", new { @id = x.MaSP },new {@target="_blank" }))
        )
    )
<style>
    .imgs {
        width: 200px;
        height: 200px;
        padding: 5px;
    }

    .gridTable {
        border: 2px solid #1c445f;
    }

    .gridHead th {
        padding: 5px;
        text-align: center;
        background: #eaff00;
        border: 2px solid #1c445f;
    }

    .gridTable tr td {
        padding: 10px;
        text-align: center;
        border: 2px solid #1c445f;
    }
</style>


